
.post__title h1{
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 0.1em;
  margin-left: 40px;
  font-weight: 500;
}
.post__header{
   display: flex;
   margin-bottom: 20px;
}
.post__header--img {
   width: 50%;
}
.post__header--img img{
   display: block;
   max-width: 100%;
   height: auto;
}
.post__header--preview {
   width: 50%;
   padding-left: 15px;
}
.post__text{
   padding: 15px 15px;
}
.post__text h2{
   margin-top: 15px;
   margin-bottom: 15px;
   font-weight: 600;
}
.post__text ul{
padding: 15px 0 15px 30px;
}